{
    "rules": {
        "class-methods-use-this"     : "off",
        "react/require-default-props": "off",
        "react/prop-types"           : "off",
        "implicit-arrow-linebreak"   : "off"
    }
}